/* Slider Wrapper */
.productsSlider-wrapper {
  background-color: #edeff1; /* dış alan gri */
  padding: 100px 0;
  font-family: 'Inter', sans-serif;
}

/* Products Slider */
.products-wrapper {
  position: relative;
  background-color: #edeff1;
  width: 100%;
  max-width: 1250px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 15px;
}

.products-title {
  text-align: center;
  font-size: 3rem;
  color: #ca9d76;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

/* Products Container */
.products-container {
  display: flex;
  gap: 25px;
  transition: transform 0.5s ease;
  user-select: none;
  padding: 10px 0;
}

/* Product Card */
.product-card {
  width: 400px;
  flex-shrink: 0;
  height: 470px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  pointer-events: none;
}

.product-info {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;       /* tüm içerik sola hizalı */
  border-top: 4px solid #CC0000; /* görselle açıklama arası çizgi */
}

.product-info h3,
.product-info p {
  margin: 0;
  text-align: left;
  overflow: hidden;           /* taşan metni gizle */
  text-overflow: ellipsis;    /* ... ile göster */
  display: -webkit-box;       /* çok satırlı ellipsis için */
  line-clamp: 8;      /* maksimum 2 satır göster, istersen 3 yapabilirsin */
  -webkit-box-orient: vertical;
  word-wrap: break-word;      /* kelime kırma */
}

.product-info h3 {
  font-size: 3rem;
  color: #2c3e50;
  margin-bottom: 16px; 
}

.product-info p {
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
}

.productsSlider-inner {
  position: relative;
  display: flex;
  align-items: center;
  overflow: visible; /* butonların kaybolmaması için */
}

.procNav-btn {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background: #fff;
  color: #ff0000;
  border: none;
  padding: 16px;
  border-radius: 50%;
  box-shadow: black;
  cursor: pointer;
  font-size: 3rem;
  z-index: 10;
}

.procNav-btn:hover {
  filter: brightness(0.7); /* Hoverda sönükleşmiş efekt */
}


.procNav-btn.left { left: 295px; }
.procNav-btn.right { right: 295px; }

/* Responsive */
@media (max-width: 1400px) {
  .product-card { width: 420px; height: 350px; }
  .product-card img { height: 220px; }
}

@media (max-width: 1000px) {
  .product-card { width: 350px; height: 300px; }
  .product-card img { height: 180px; }
}

@media (max-width: 700px) {
  .product-card { width: 280px; height: 260px; }
  .product-card img { height: 150px; }
}
