
.productsSlider-wrapper {
  background-color: #fdf4e8 ;
  padding: 100px 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden; 
}


.products-wrapper {
  position: relative;
  background-color: #fdf4e8 ;
  width: 100%;
  max-width: 1400px;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 15px;
}

.products-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px; 
    height: 100%;
    pointer-events: none; 
    background: linear-gradient(to right, #fdf4e8 0%, rgba(253, 244, 232, 0) 80%);
    z-index: 10;
}
.products-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 25px; 
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to left, #fdf4e8 0%, rgba(253, 244, 232, 0) 80%);
    z-index: 10;
}

.products-title {
  text-align: center;
  font-size: 3rem;
  color: #000000;
  font-family: 'Inter', sans-serif;
  letter-spacing: 3px;
  margin-bottom: 30px;
  display: block; 
  border-bottom: 1px solid #e8b681; 
  padding-bottom: 5px; 
  width: fit-content;  
  margin: 0 auto 30px auto; 
}


.products-container {

  --card-width: 400px;
  --card-gap: 100px;

  display: flex;
  gap: var(--card-gap); 
  justify-content: flex-start; 
  transition: transform 0.5s ease;
  user-select: none;
  padding: 10px 0;
}

.product-card {
  width: var(--card-width);
  flex-shrink: 0;
  height: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  pointer-events: none;
}

.product-info {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;       
}

.product-info h3,
.product-info p {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis; 
  display: -webkit-box;    
  line-clamp: 4;
  -webkit-box-orient: vertical;
  word-wrap: break-word;   
}

.product-info h3 {
  letter-spacing: 3px;
  font-size: 2rem;
  color: #000000;
  font-family: 'Inter', sans-serif;
  width: 100%;
  margin: 5px auto;
  border-top: 2px solid #e8b681;
  padding-top: 10px;
  height: 60px;
  line-height: 2rem;
  box-sizing: border-box;
}

.product-info p {
  font-family: Rubik, sans-serif;
  font-size: 1.2rem;
  color: #000000;
}

.productsSlider-inner {
  position: relative;
  display: flex;
  align-items: center;
  overflow: visible; 
  

  max-width: 1550px; 
  margin: 0 auto;
  padding: 0 40px; 
  box-sizing: border-box;
}

.procNav-btn {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background: #fdf4e8;
  color: #000000;
  border: 1px solid #e8b681;
  padding: 16px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(232, 182, 129, 0.5); 
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 10;
}

.procNav-btn:hover {
  filter: brightness(0.9);
}


.procNav-btn.left { left: 0px; }
.procNav-btn.right { right: 0px; }


/* --- TABLET (1024px) --- */
@media (max-width: 1023px) {
  .products-container {

    --card-width: 350px;
    --card-gap: 50px;
  }
  .products-wrapper {

    max-width: 750px;
  }
  .productsSlider-inner {
    max-width: 900px;
    padding: 0 20px;
  }
  .product-card {
    height: 500px;
    border-radius: 30px;
  }
  .product-info h3 {
    font-size: 1.8rem;
    height: 55px;
    line-height: 1.8rem;
  }
  .product-info p {
    font-size: 1.1rem;
  }
}

/* --- MOBİL (768px) --- */
@media (max-width: 767px) {
  .productsSlider-wrapper {
    padding: 50px 0; 
  }
  .products-title {
    font-size: 2rem;
    letter-spacing: 1px;
  }

  .products-container {

    --card-width: 300px;
    --card-gap: 20px; 
  }
  .products-wrapper {
    max-width: 300px; /* 1 kart genişliği */
    

    &::before, &::after {
      display: none;
    }
  }

  .product-card {
    height: 480px; 
    border-radius: 25px;
  }

  .product-card img {
    height: 200px;
  }

  .product-info h3 {
    font-size: 1.5rem;
    height: auto;
    line-height: 1.4;
    padding-top: 8px;
    margin-top: 8px;
  }
  .product-info p {
    font-size: 1rem;
  }

  .productsSlider-inner {
    max-width: 100%;
    padding: 0 10px; 
    box-sizing: border-box;
  }
  .procNav-btn {
    top: 40%;
    padding: 10px;
    font-size: 1.2rem;
  }
  .procNav-btn.left {
    left: 5px;
  }
  .procNav-btn.right {
    right: 5px;
  }
}