
/* Sayfa parent container */
.ozel-talep-page {
  position: relative;
  background-color: #fdf4e8;
}

/* Container */
.ozel-talep-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  padding: 500px 230px 400px 230px; /* ölçüler korunuyor */
  max-width: 100%;
  margin: 0;
  justify-items: center;
  background-color: #fdf4e8;
  min-height: 100vh;
}

/* Kart: sadece görsel boyutu */
.ozel-talep-card {
  width: 100%;
  max-width: 450px;
}

.ozel-talep-card img {
  width: 450px;
  height: 480px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.ozel-talep-card:hover img {
  transform: scale(1.05);
}

.ozel-talep-title {
  margin: 30px 0 0 0;
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  color: #303040;
  letter-spacing: 1px;
  text-align: start;
  max-width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Header altındaki sticky bant */
.custom-title  {
  position: absolute;
    font-family: Butler, sans-serif;
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 500;
  color: #000000;
  top: 220px; /* header yüksekliği kadar offset */
  left: 700px;
}

.custom-title span {
  display: block;       
  margin-left: 3em;     
  font-weight: 100;     
  font-size: 4rem;    
}

/* Tablet: 2 sütun */
@media (max-width: 992px) {
  .ozel-talep-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .ozel-talep-banner {
    padding: 20px 30px;
  }
}

/* Mobil: 1 sütun */
@media (max-width: 600px) {
  .ozel-talep-container {
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 20px;
  }

  .ozel-talep-banner {
    padding: 15px 20px;
  }

  .ozel-talep-title {
    font-size: 1rem;
  }
}


