.urunlerimiz-page {
  min-height: 80vh; /* sayfa yüksekliği */
  display: flex;
  flex-direction: column;
  justify-content: center; /* dikey ortala */
  align-items: center;     /* yatay ortala */
  background-color: #fdf4e8;
  padding: 50px 20px;
  text-align: center;
}

.urunlerimiz-page h1 {
  font-family: 'Cinzel', serif;
  font-size: 3rem;
  color: #303040;
  margin-bottom: 20px;
}

.urunlerimiz-page p {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  color: #303040;
}
